<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Dependent spring bean-->
    <bean id = "dt" class = "java.util.Date"/>
<!--    created another bean of date class using another ID-->
    <bean id="dt1" class="java.util.Date">
        <property name="year" value="110"/> <!--Date class automatically adds 1900 in our value-->
        <property name="month" value="4"/> <!-- 0 - 11 -->
        <property name="date" value="21"/> <!--0- 30 -->
    </bean>        
    <!--Target class spring bean-->
    <bean id = "wmg" class ="org.service.WishMessageGenerator">
        <property name = "date" ref = "dt1"/>
        <constructor-arg name="date" ref="dt"/>

    </bean>

</beans>