<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd">



    <context:component-scan base-package="org.component"/>
<!--    To cfg properties file and recognize placeholders-->
<!--    <context:property-placeholder location="info.properties"/>-->

<!--    <alias name="dtdc" alias="dt"/>-->
    <alias name="fFlight" alias="dt"/> <!--change in xml file changes dependent spring bean dont need to touch java files chane only name in this tag-->

</beans>