<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="per" class="org.example.Person">
        <property name="pid" value="101"/>
        <property name="pname" value="Vaibhav"/>
    </bean>

    <bean id="per1" class="org.example.Person1">
        <constructor-arg name="pid" value="102"/>
        <constructor-arg name="pname" value="Manasi"/>
        <constructor-arg name="padd" value="Karve Nagar"/>
        <constructor-arg name="income" value="97468"/>
    </bean>

</beans>